/* Mixins.scss
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
/* line 19, content/assets/stylesheets/sass/mixins.sass */
.clearfix {
  zoom: 1;
}
/* line 8, content/assets/stylesheets/sass/mixins.sass */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
/* line 15, content/assets/stylesheets/sass/mixins.sass */
.clearfix:after {
  clear: both;
}

/* line 80, content/assets/stylesheets/sass/mixins.sass */
.fixed-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}
/* line 8, content/assets/stylesheets/sass/mixins.sass */
.fixed-container:before, .fixed-container:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
/* line 15, content/assets/stylesheets/sass/mixins.sass */
.fixed-container:after {
  clear: both;
}
