/* Mixins.scss
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
/* line 19, content/assets/stylesheets/sass/mixins.sass */
.clearfix {
  zoom: 1;
}
/* line 8, content/assets/stylesheets/sass/mixins.sass */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
/* line 15, content/assets/stylesheets/sass/mixins.sass */
.clearfix:after {
  clear: both;
}

/* line 80, content/assets/stylesheets/sass/mixins.sass */
.fixed-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}
/* line 8, content/assets/stylesheets/sass/mixins.sass */
.fixed-container:before, .fixed-container:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
/* line 15, content/assets/stylesheets/sass/mixins.sass */
.fixed-container:after {
  clear: both;
}

/* line 7, content/assets/stylesheets/sass/styles.sass */
article pre {
  font-size: 13px !important;
}

/* line 10, content/assets/stylesheets/sass/styles.sass */
.toc {
  background: white;
  margin-left: 20px;
  max-width: 500px;
  padding: 20px;
  padding-right: 30px;
  padding: 2em;
  border: 1px solid #dddddd;
  float: right;
  -webkit-box-shadow: -2px 2px 6px #bbbbbb;
  -moz-box-shadow: -2px 2px 6px #bbbbbb;
  box-shadow: -2px 2px 6px #bbbbbb;
}

/* line 21, content/assets/stylesheets/sass/styles.sass */
.container > section {
  margin-top: 60px;
}

/* line 24, content/assets/stylesheets/sass/styles.sass */
body.landing {
  background: white;
}

/* line 27, content/assets/stylesheets/sass/styles.sass */
body {
  background: rgba(253, 246, 227, 0.6);
}

/* line 30, content/assets/stylesheets/sass/styles.sass */
strong {
  color: #cb4b16;
}

/* line 33, content/assets/stylesheets/sass/styles.sass */
code {
  white-space: pre;
  display: block;
  padding: 10px;
  color: gray;
}

/* line 39, content/assets/stylesheets/sass/styles.sass */
.highlight {
  line-height: 25px;
  padding: 3px 4px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

/* line 47, content/assets/stylesheets/sass/styles.sass */
.jumbotron {
  position: relative;
}

/* line 50, content/assets/stylesheets/sass/styles.sass */
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1;
}

/* line 56, content/assets/stylesheets/sass/styles.sass */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}
/* line 60, content/assets/stylesheets/sass/styles.sass */
.masthead h1, .masthead p {
  text-align: center;
}
/* line 63, content/assets/stylesheets/sass/styles.sass */
.masthead h1 {
  margin-bottom: 18px;
}
/* line 66, content/assets/stylesheets/sass/styles.sass */
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

/* line 72, content/assets/stylesheets/sass/styles.sass */
footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
