\---
title: Title
layout: default
\---
.jumbotron.masthead
  .inner
    %h1 Ruby amqp gem
  %p
    %a{ :href => "/articles/getting_started/" }<>
      Get started in an instant
    , read our guides, see our
    %a{ :href => "http://bit.ly/mDm1JE" }>
      API reference
    , we do care about the docs!

  %p
    Join the community:
  %p
    follow
    %a{ :href => "http://twitter.com/rubyamqp" }
      @rubyamqp
    join
    %a{ :href => "http://groups.google.com/group/rabbitmq-discuss" }
      rabbitmq-discuss
    and
    %a{ :href => "http://groups.google.com/group/ruby-amqp" }
      ruby-amqp


%hr.soften

.row
  .span12.marketing
    %h2
      This site is dedicated to Ruby amqp gem and AMQP 0.9.1 protocol features in general. Ruby amqp gem is a widely used, feature-rich, well-maintained, fast asynchronous AMQP 0.9.1 (RabbitMQ) Ruby client with batteries included.

%hr.soften

.row

  .span4.whitened
    %h2
      About Ruby amqp gem
    %p
      Ruby amqp gem is a widely used, feature-rich, well-maintained, fast asynchronous AMQP 0.9.1 (RabbitMQ) Ruby client with batteries included.


    %h2 About AMQP 0.9.1
    %p
      AMQP is an open standard for messaging middleware that emphasizes interoperability between different technologies
      (for example, Java & JVM languages, .NET, Ruby, Python, Node.js, Erlang, C and so on).

    %p
      Key features of AMQP are very flexible yet simple routing and binary protocol efficiency. AMQP supports many sophisticated features, for example,
      message acknowledgements, returning of messages to producer, redelivery of messages that couldn't be processed, load balancing between message consumers and so on.


  .span4.whitened
    %h2
      About Ruby amqp gem
    %p
      Ruby amqp gem is a widely used, feature-rich, well-maintained, fast asynchronous AMQP 0.9.1 (RabbitMQ) Ruby client with batteries included.


    %h2 About AMQP 0.9.1
    %p
      AMQP is an open standard for messaging middleware that emphasizes interoperability between different technologies
      (for example, Java & JVM languages, .NET, Ruby, Python, Node.js, Erlang, C and so on).

    %p
      Key features of AMQP are very flexible yet simple routing and binary protocol efficiency. AMQP supports many sophisticated features, for example,
      message acknowledgements, returning of messages to producer, redelivery of messages that couldn't be processed, load balancing between message consumers and so on.


  .span4.whitened
    %h2
      About Ruby amqp gem
    %p
      Ruby amqp gem is a widely used, feature-rich, well-maintained, fast asynchronous AMQP 0.9.1 (RabbitMQ) Ruby client with batteries included.


    %h2 About AMQP 0.9.1
    %p
      AMQP is an open standard for messaging middleware that emphasizes interoperability between different technologies
      (for example, Java & JVM languages, .NET, Ruby, Python, Node.js, Erlang, C and so on).

    %p
      Key features of AMQP are very flexible yet simple routing and binary protocol efficiency. AMQP supports many sophisticated features, for example,
      message acknowledgements, returning of messages to producer, redelivery of messages that couldn't be processed, load balancing between message consumers and so on.



%footer.footer.whitened
  %p.pull-right
    %a{:href => "#"} Back to top
  %p
    This guide was written by
    %a{ :href => "http://twitter.com/michaelklishin" }
      Michael Klishin
    and edited by
    %a{ :href => "https://twitter.com/celldee" }
      Chris Duncan

  %p
    Layout and CSS using
    %a{ :href => "http://twitter.github.com/bootstrap"}
      Twitter Bootstrap
    tuned by
    %a{ :href => "https://twitter.com/ifesdjeen" }
      Alex Petrov
