@import compass_twitter_bootstrap
@import partials/config/grid
@import partials/mixins/grid
@import partials/widgets/grid

$base-font-size: 13px
$base-line-height: 18px

$grid-background-baseline-height: 1.375em
